<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <main class="bg-grey">
        <h5>Ajouter une nouvelle Categorie</h5>
            <form action="/api/categories/updateCategorie/<%= categorie.id %> " method="post">
            <label for="title" class="mb-2">Categorie nouveau titre</label>
            <input type="text" name="title" id="title" class="form-control" value="<%= categorie.title  %> ">

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
        </form>
    </main>
    
</body>
</html>
